#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
}


.ant-carousel {
    margin-top: 0 !important;
    margin-left:auto !important;
    margin-right:auto !important;
    margin-bottom: 40px !important;

}
.basicContent{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 0 auto;
    min-height: 100vh;
}
.content{
    padding: 24px;
    min-height: 280px;
    width: 100%;

}



.ant-carousel .slick-slide img{
    width: 750px;
    height:315px;
    background: #364d79;
    margin: 0 auto;
    position: relative;
}

.ant-carousel{
    width: 750px;
    height:315px;
    margin: 0 auto;
    text-align: center;
}

.global-search-wrapper {
    margin: 40px auto 20px auto;
    width:750px !important;
    padding-right: 50px;
}

.global-search {
    width: 100%;
}

.global-search.ant-select-auto-complete .ant-select-selection--single {
    margin-right: -46px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 62px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.global-search-item {
    display: flex;
}

.global-search-item-desc {
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.global-search-item-count {
    flex: none;
}


.bookImg{
    height: 160px;
}

.ant-card-meta-title{
    font-size:14px !important;
}

.ant-card-meta-description{
    color: red !important;
}
.descriptions {
    border-collapse: collapse;
}
tr.book_detail:nth-child(even) {background-color: #f2f2f2;}
.descriptions .cart_table .book_detail {
    border: 1px solid gray;
    text-align: center;
}
.cart_image{
    width: 25px;
    height: 30px;
    /*padding: inherit;*/
}
.cart_table{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.order{
    display: flex;
}
.order_image{
    width: 60%;
    height: 60%;
    padding: inherit;
}
.order_text{
    font-family: "Cambria Math";
}
.order_button{
    margin-left: 200px;
}
.book_detail_description{
    /*border-bottom: solid gray;*/
    /*margin-left: 300px;*/
    margin-bottom: 20px;
    /*margin-top: -5px;*/
    /*height: 800px;*/
}

.book_details{
    display: flex;
    flex-direction: row;
    width: 100%;
    /*justify-content: center;*/
}

.book_img{
    width: 35%;
}

.book_img img{
    width: 100%;
}

.detail_group{
    margin-top: 50px;
    margin-left: 20px;
    width: 65%;
}
.button-groups{
    display: flex;
    margin-right: 380px;
}


